<div class="container mt-5">
    <div class="row pb-5">
        {{!-- Main content --}}
        <div class="col-12 col-xl-9">
            <div class="bg-white ctdetail">
                <p class="ctdetail-xxlg-title">Shopping Cart</p>
                <div>
                    <div class="form-check align-left">
                        <input class="form-check-input" type="checkbox" class="sellectItem" id="sellectAll">
                        <label class="form-check-label" for="sellectAll">Sellect All</label>
                    </div>
                    <p class="align-right">Price</p>
                </div>
                <br><hr>

                {{!-- Items --}}
                {{#each items}}
                    <div class="row">
                        <div class="col-3 d-flex align-items-center">
                            <div class="form-check d-flex align-items-center sellectItem">
                                <input class="form-check-input" type="checkbox" id={{key}}>
                            </div>
                            <a href={{link}}>
                                <img src={{img}} class="img-fluid">
                            </a>
                        </div>
                        <div class="col-7 ctdetail-itemdetail">
                            <a href={{link}} class="ctdetail-item-title erase-underline text-black">{{name}}</a>
                            <p class="ctdetail-item-sm-detail text-green"><b>{{status}}</b></p>
                            <p class="ctdetail-item-sm-detail">Delivered from and sold by {{brand}}</p>
                            <p class="ctdetail-item-me-detail"><b>Your option: </b>{{notice}}</p>
                            
                            <div class="row mt-2 mb-2">
                                <div class="col form-group">
                                    <label for=(concat "qty-" {{key}})>Quantity: </label>
                                    <span class="d-inline-block">
                                        <input type="number" class="form-control small-img" id=(concat "qty-" {{key}})>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row h-50">
                                <p class="d-flex justify-content-start align-items-center cart-item-price"><b>{{price}}.000VNĐ</b></p>
                            </div>
                            <div class="row h-50">
                                <div class="d-flex justify-content-end align-items-end">
                                    <button class="btn ctdetail-delete-button">Delete</button>
                                </div>
                            </div>
                        </div>
                        <hr class="m-2">
                    </div>
                {{/each}}
                <div class="row" id="subtotal-main">
                    <span><p class="rtab-me-text align-right wrap-text">Subtotal (2 items): <b>540.000VNĐ</b></p></span>
                    <a href="/buy"><button class="btn btn-outline-dark rtab-detail-button align-right" id="checkout-btn-main">Checkout</button></a>
                </div>
            </div>
            {{!-- End page expand --}}
            <div id="endpage-expand">
                <div class="bg-white ctdetail mb-2"><br></div>
                <p class="ctdetail-smler-text">The price and availability of items at Sunrise.sg are subject to change. The shopping cart is a temporary place to store a list of your items and reflects each item's most recent price. Do you have a promotional code? We'll ask you to enter your claim code when it's time to pay.</p>
            </div>
        </div>
        {{!-- Right site bar --}}
        <div class="col-12 col-xl-3">
            <div class="bg-white rtab mb-4" id="subtotal-rtab">
                <i class="bi bi-credit-card-2-front-fill"><span class="rtab-lg-title"> Payment</span></i>
                <div class="text-center">
                    <p class="rtab-lg-text mt-2 wrap-text" id="cart-subtotal">Subtotal (2 items): <b>540.000VNĐ</b></p>
                    <a href="/buy"><button class="rtab-buying-button" id="checkout-btn-rtab">Checkout</button></a>
                </div>
            </div>
            <div class="bg-white rtab-recommend">
                <p class="rtab-sm-title">Recommend for you</p>
                <div class="row">
                    {{#each recommend}}
                        <div class="col-12 col-lg-6 col-xl-12">
                            <div class="row pb-2">
                                <a href={{link}} class="col-5 d-flex erase-underline">
                                    <img src={{img}} class="img-fluid">
                                </a>
                                <div class="col-7">
                                    <a href={{link}} class="erase-underline"><p class="rtab-me-text text-lightblue">{{name}}</p></a>
                                    <span class="ratings"> 
                                        {{#loops fstar}}
                                            <i class="bi bi-star-fill rating-color"></i>
                                        {{/loops}}
                                        {{#loops hstar}}
                                            <i class="bi bi-star-half rating-color"></i>
                                        {{/loops}}
                                        {{#loops nstar}}
                                            <i class="bi bi-star"></i>
                                        {{/loops}}
                                    </span>
                                    <p class="review-count">{{rvcount}}</p>
                                    <p class="rtab-sm-text">1 offer from <span class="rtab-money">{{price}}.000VNĐ</span></p>
                                    <div class="text-center">
                                        <a href={{link}}><button class="btn btn-outline-dark rtab-detail-button">See more detail</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                
            </div>
            {{!-- second end page expand --}}
            <div id="scnd-endpage-expand">
                <div class="bg-white ctdetail mt-4 mb-2"><br></div>
                <p class="ctdetail-smler-text">The price and availability of items at Sunrise.sg are subject to change. The shopping cart is a temporary place to store a list of your items and reflects each item's most recent price. Do you have a promotional code? We'll ask you to enter your claim code when it's time to pay.</p>
            </div>
        </div>
    </div>
</div>