<div class="bg-white">
    <div class="container pt-5">
        <p class="xlg-title mb-0">Danh sách hợp đồng thành lập</p>
        <a class="text-danger fs-5 " href="/staff/accepted" class="xlg-title mb-0">Hợp đồng đã kí</a>
        <p class="me-title opacity-75"></p>
        <hr />
        <div class="row">
            {{#each orders}}
            <div class="col-4 mt-3">
                <div class="row">
                    <div class="col-12 col-lg-12 pb-3">
                        <div class="card card-hover">
                            <div class="card-body">
                                <div class="menu-img-wrapper">
                                    <img src="/images/icons/cod.png" alt="ảnh món ăn">
                                </div>
                                <a href="javascript:;" class="erase-underline">
                                    <p class="me-title text-lightblue">Mã hợp đồng: {{MAHOPDONG}}</p>
                                </a>
                                <p class="review-count">Phí hoa hồng: {{PHIHOAHONG}}%</p>
                                <p class="sm-title">
                                    <span class="rtab-money">Người đại diện: {{NGUOIDAIDIEN}}</span>
                                </p>
                                <p class="sm-title">
                                    <span class="text-black">Tình trạng: {{TINHTRANG}}</span>
                                </p>
                                <p class="sm-title">
                                    <span class="text-danger fw-bold">Mã đối tác: {{DOITAC}}</span>
                                </p>
                                <p class="sm-title">
                                    <span class="text-danger fw-bold">Thời hạn: {{THOIHAN}}%</span>
                                </p>
                                {{!-- <div class="text-center">
                                    <a href="javascript:;"><button data-user-id="{{KHACHHANG}}"
                                            data-seller-id="{{DOITAC}}" data-order-id="{{MADONDATHANG}}"
                                            class="driver-accept-order btn btn-outline-dark rtab-detail-button">Nhận
                                            đơn</button></a>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>