
<div class="container pt-4 mt-4">
    <section>
        <div class='row'>
            <div class='col-8'>
                <div id="main-large-banner" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {{#each large_banner}}
                            {{#if (isFirstVis index)}}
                                <button type="button" data-bs-target="#main-large-banner" data-bs-slide-to={{index}} class="active" aria-current="true"></button>
                            {{else}}
                                <button type="button" data-bs-target="#main-large-banner" data-bs-slide-to={{index}}></button>
                            {{/if}}    
                        {{/each}}
                    </div>
                    <div class="carousel-inner">
                        {{#each large_banner}}
                            {{#if (isFirstVis index)}}
                                <a class="carousel-item active" href={{link}}>
                            {{else}}
                                <a class="carousel-item" href={{link}}>
                            {{/if}}    
                            <img class="d-block w-100" src={{img}} alt="banner"/></a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class='col-4'>
                <div class='row'>
                    <div id="first-small-banner" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {{#each small_banners_1}}
                                {{#if (isFirstVis index)}}
                                    <button type="button" data-bs-target="#first-small-banner" data-bs-slide-to={{index}} class="active" aria-current="true"></button>
                                {{else}}
                                    <button type="button" data-bs-target="#first-small-banner" data-bs-slide-to={{index}}></button>
                                {{/if}}    
                            {{/each}}
                        </div>
                        <div class="carousel-inner">
                            {{#each small_banners_1}}
                                {{#if (isFirstVis index)}}
                                    <a class="carousel-item active" href={{link}}>
                                {{else}}
                                    <a class="carousel-item" href={{link}}>
                                {{/if}}    
                                <img class="d-block w-100" src={{img}} alt="banner"/></a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class='row pt-2'>
                    <div id="secnd-small-banner" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {{#each small_banners_2}}
                                {{#if (isFirstVis index)}}
                                    <button type="button" data-bs-target="#secnd-small-banner" data-bs-slide-to={{index}} class="active" aria-current="true"></button>
                                {{else}}
                                    <button type="button" data-bs-target="#secnd-small-banner" data-bs-slide-to={{index}}></button>
                                {{/if}}    
                            {{/each}}
                        </div>
                        <div class="carousel-inner">
                            {{#each small_banners_2}}
                                {{#if (isFirstVis index)}}
                                    <a class="carousel-item active" href={{link}}>
                                {{else}}
                                    <a class="carousel-item" href={{link}}>
                                {{/if}}    
                                <img class="d-block w-100" src={{img}} alt="banner"/></a>  
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="mt-3 bg-white">
        <p class='menu-large-font'>Bạn muốn ăn gì?</p>
        <div class='row d-flex m-0'>
            {{#each food_thumnails}}
                {{#if bder}}
                    <div class='col small-thumnail'>
                {{else}}
                    <div class='col large-thumnail'>
                {{/if}} 
                    <a href={{link}} class='thumnail-ref-container'>
                        <img src={{img}} class="w-100" alt='thumnail'>
                        <p class='thumnail-text'>{{name}}</p>
                    </a>
                </div>   
            {{/each}}
        </div>
    </div>
    <div class="mt-3 bg-white">
        <p class='menu-large-font'>Đang giảm giá siêu sốc!</p>
        <div class='row'>
            <div class='col-4 ps-4 pe-0'>
                <div id="sale-banner" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {{#each rect_banners}}
                            {{#if (isFirstVis index)}}
                                <button type="button" data-bs-target="sale-banner" data-bs-slide-to={{index}} class="active" aria-current="true"></button>
                            {{else}}
                                <button type="button" data-bs-target="#sale-banner" data-bs-slide-to={{index}}></button>
                            {{/if}}    
                        {{/each}}
                    </div>
                    <div class="carousel-inner ">
                        {{#each rect_banners}}
                            {{#if (isFirstVis index)}}
                                <a class="carousel-item active" href={{link}}>
                            {{else}}
                                <a class="carousel-item" href={{link}}>
                            {{/if}}    
                            <img class="d-block w-100" src={{img}} alt="banner"/></a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class='col-8 ps-0'>
                <div class='row d-flex m-0'>
                    {{#each sale_thumnails}}
                        {{#if bder}}
                            <div class='col small-thumnail'>
                        {{else}}
                            <div class='col large-thumnail'>
                        {{/if}} 
                            <a href={{link}} class='thumnail-ref-container'>
                                <img src={{img}} class="w-100" alt='thumnail'>
                                <p class='thumnail-text'>{{name}}</p>
                            </a>
                        </div>     
                    {{/each}}
                </div>
                <div class='row d-flex m-0'>
                    {{#each sale_thumnails}}
                        {{#if bder}}
                            <div class='col small-thumnail'>
                        {{else}}
                            <div class='col large-thumnail'>
                        {{/if}} 
                            <a href={{link}} class='thumnail-ref-container'>
                                <img src={{img}} class="w-100" alt='thumnail'>
                                <p class='thumnail-text'>{{name}}</p>
                            </a>
                        </div>   
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 bg-white mb-5">
        <p class='menu-large-font'>Gợi ý hôm nay</p>
        <div class='row d-flex m-0'>
            {{#each food_thumnails}}
                {{#if bder}}
                    <div class='col small-thumnail'>
                {{else}}
                    <div class='col large-thumnail'>
                {{/if}} 
                    <a href={{link}} class='thumnail-ref-container'>
                        <img src={{img}} class="w-100" alt='thumnail'>
                        <p class='thumnail-text'>{{name}}</p>
                    </a>
                </div>  
            {{/each}}
        </div>
        <div class='row d-flex m-0'>
            {{#each food_thumnails}}
                {{#if bder}}
                    <div class='col small-thumnail'>
                {{else}}
                    <div class='col large-thumnail'>
                {{/if}} 
                    <a href={{link}} class='thumnail-ref-container'>
                        <img src={{img}} class="w-100" alt='thumnail'>
                        <p class='thumnail-text'>{{name}}</p>
                    </a>
                </div>   
            {{/each}}
        </div>
    </div>
</div>