<div class="bg-white">
    <div class="container pt-5">
        {{!-- Item Detail --}}
        <div class="row pt-4">
            <div class="col-3" id="itdetail-mainimg">
                <a href={{food.photo.[1]}}>
                    <img src="/images/foods/{{food.photo.[1]}}" class="img-fluid itdetail-food-img" alt={{food.name}}>
                </a>
            </div>
            <div class="col-12 col-md-8 col-lg-6">
                <p class="itdetail-lger-title">{{food.name}}</p>
                <p class="itdetail-me-title text-indigo">Thương Hiệu: {{food.manufacturer}}</p>
                <span class="ratings align-left"> 
                    {{#loops food.fstar}}
                        <i class="bi bi-star-fill rating-color"></i>
                    {{/loops}}
                    {{#loops food.hstar}}
                        <i class="bi bi-star-half rating-color"></i>
                    {{/loops}}
                    {{#loops food.nstar}}
                        <i class="bi bi-star-fill"></i>
                    {{/loops}}
                </span>
                <p class="review-count align-left">&#160 {{food.rvcount}} reviews</p>

                {{!-- Alternative item image --}}
                <div class="row pt-3" id="itdetail-alterimg">
                    <div class="col-4">
                        <a href={{food.photo.[1]}}>
                            <img src="/images/foods/{{food.photo.[1]}}" class="img-fluid itdetail-food-img" alt={{food.name}}>
                        </a>
                    </div>
                    <div class="col-8">
                        <p class="itdetail-me-title text-green">1 Order from &#160<span class="itdetail-lg-money">{{{toPrice food.price}}} VNĐ</span></p>

                        <div class="d-flex justify-content-center pt-4">
                            <p class="text-center p-3 ps-0 itdetail-sm-title wrap-text">
                                <span class="material-icons itdetail-achievement-icon">restaurant</span>
                            <br>Ngon chuẩn 5 sao</p>
                            <p class="text-center p-3 ps-0 itdetail-sm-title wrap-text">
                                <span class="material-icons itdetail-achievement-icon">electric_car</span>
                            <br>Giao hàng nhanh chóng</p>
                            <p class="text-center p-3 ps-0 itdetail-sm-title wrap-text">
                                <span class="material-icons itdetail-achievement-icon">local_police</span>
                            <br>Bảo hành dạ dày 24h</p>
                        </div>
                    </div>
                </div>
                
                <div id="itdetail-mainimg">
                    <br><hr>
                    <p class="itdetail-me-title text-green">1 Order from &#160<span class="itdetail-lg-money">{{{toPrice food.price}}} VNĐ</span></p>

                    <div class="d-flex justify-content-center pt-4">
                        <p class="text-center p-3 itdetail-me-title wrap-text">
                            <span class="material-icons itdetail-achievement-icon">restaurant</span>
                        <br>Ngon chuẩn 5 sao</p>
                        <p class="text-center p-3 itdetail-me-title wrap-text">
                            <span class="material-icons itdetail-achievement-icon">electric_car</span>
                        <br>Giao hàng nhanh chóng</p>
                        <p class="text-center p-3 itdetail-me-title wrap-text">
                            <span class="material-icons itdetail-achievement-icon">local_police</span>
                        <br>Bảo hành dạ dày 24h</p>
                    </div>
                </div>
                
                <hr>
                <ul class="itdetail-lg-title text-justify">
                    <li>Được sản xuất bởi các đầu bếp danh giá sở hữu từ 2 đến 3 sao Michelin</li>
                    <li>Uy tín của thương hiệu được gây dựng xuyên suốt 69 năm về an toàn thực phẩm</li>
                    <li>Nguyên liệu được vận chuyển trực tiếp từ vùng núi lạnh giá phía Tây Bắc, đảm bảo độ tươi sạch thuần khiết nhất</li>
                    <li>Giao hàng nhanh chóng trong vòng 15 phút trong khu vực TP Hồ Chí Minh và Hà Nội. Riêng ngoại thành thì đừng đặt, xa thế ai mà ship đồ nóng đi được.</li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="itdetail-box">
                    <i class="bi bi-credit-card-2-front-fill"><span class="lg-title"> Payment</span></i>
                    <p class="sm-title wrap-text text-justify text-danger pt-3">Món ăn chỉ hỗ trợ những quốc gia như Việt Nam, Anh, Pháp, Nhật Bản, Mỹ. Các quốc gia còn lại sẽ áp dụng chính sách không giao hàng ngoại quốc.</p>
                    
                    <div class="pt-3">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="sm-title">&#160 Giao hàng tại Việt Nam</span>
                    </div>

                    <p class="me-title pt-2">Tình trạng: <span class="text-green">{{food.status}}</span></p>

                    <form class="form-group pt-2">
                        <label for="qty-itdetail" class="form-label">Quantity: </label>
                        <span class="d-inline-block">
                            <select class="form-control" id="qty-itdetail">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="many">4+</option>
                            </select>
                        </span>
                    </form>
                    <div class="row w-75 m-auto">
                        <div class="col text-center">
                            <button class="btn-addtocart mt-3">Thêm vào giỏ hàng</button>
                            <a href="/buy"><button class="btn-buynow mt-2" id="item-final-single-buy">Mua ngay</button></a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <br><br><br><br><hr><br><br>
        {{!-- About Restaurant --}}
        <p class="itdetail-lg-title text-center opacity-50">ABOUT US</p>
        <p class="itdetail-main-lg-title text-center">Về nhà hàng của chúng tôi</p>
        
        <div class="itdetail-about">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-7 pe-0 pb-4">
                    <img src="/images/abouts/about-1.png" class="img-fluid itdetail-food-img">
                </div>
                <div class="col-12 col-lg-6 col-xl-5 ps-5">
                    <p class="itdetail-lg-title text-center"><b>ĐƯỢC THÀNH LẬP VÀ PHÂN PHỐI BỞI<br>SUNRISE COMPANY</b><br><br></p>
                    <p class="itdetail-me-title wrap-text text-justify light-text">
                        <i>Chuỗi nhà hàng Sunrise Foods được hình thành và phát triển hơn 69 năm. 
                        Với uy tín và chất lượng thuộc top đầu thế giới với vô số đầu bếp sở hữu 
                        sao Michelin và muôn vẻ sáng tạo trong việc đưa những món ăn độc lạ hay 
                        đặc sản đến mọi miền đất nước trên thế giới. Chúng tôi luôn chú tâm vào 
                        những nhu cầu và cảm giác của khách hàng, đặt ra những tiêu chí hàng đầu để
                        có thể làm hài lòng dù là những vị khách khó tính nhất.</i><br>
                        <span class="align-right">- Dương Minh -</span>
                    </p>
                    <div class="d-flex justify-content-center pt-4">
                        <span class="itdetail-achievement-icon text-center">
                            <img src="/images/icons/star.png" class="itdetail-icon" alt="star">
                            <p class="p-3 itdetail-me-title">Ngon chuẩn 5 sao</p>
                        </span>
                        <span class="itdetail-achievement-icon text-center">
                            <img src="/images/icons/certificate.png" class="itdetail-icon" alt="star">
                            <p class="p-3 itdetail-me-title">Chứng nhận quốc tế</p>
                        </span>
                        <span class="itdetail-achievement-icon text-center">
                            <img src="/images/icons/achievement.png" class="itdetail-icon" alt="star">
                            <p class="p-3 itdetail-me-title">Top 1 thịnh hành</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{!-- Recommend --}}
        <div class="pb-5">
            <p class='menu-large-font'>Gợi ý hôm nay</p>
            <div class="row">
                {{#each recommend}}
                    <div class="col-6 col-md-4 col-xl-2 m-auto p-4">
                        <a href={{link}}><img src={{photo}} class="img-fluid pb-3"></a>
                        <a href={{link}} class="erase-underline"><p class="me-title text-lightblue">{{name}}</p></a>
                        <span class="ratings"> 
                            {{#loops fstar}}
                                <i class="bi bi-star-fill rating-color"></i>
                            {{/loops}}
                            {{#loops hstar}}
                                <i class="bi bi-star-half rating-color"></i>
                            {{/loops}}
                            {{#loops nstar}}
                                <i class="bi bi-star"></i>
                            {{/loops}}
                        </span>
                        <p class="review-count">{{rvcount}}</p>
                        <p class="sm-title">1 offer from <span class="rtab-money">{{{toPrice price}}} VNĐ</span></p>
                        <div class="text-center">
                            <a href="/item"><button class="btn btn-outline-dark rtab-detail-button" onclick="changepage()">See more detail</button></a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdown_qty_itdetail =  $('#qty-itdetail');
        dropdown_qty_itdetail.change(function()
        {  
            if ($('#qty-itdetail').find(":selected").val() == 'many')
                $('#qty-itdetail').replaceWith('<input type="number" class="form-control small-img" id="qty-itdetail">');
        });
    });
</script>