<div class="bg-white">
    <div class="container pt-5">
        <div class="d-flex align-items-baseline">
            <p class="xlg-title mb-0 me-4">Danh sách món ăn</p>
            <a href="/seller/store" style="display: block; text-decoration: underline; font-size: 18px; color: #333;"
                class="me-4">
                Nhà hàng
            </a>
            <a href="/seller/order" style="display: block; text-decoration: underline; font-size: 18px; color: #333;">
                Đơn đặt hàng
            </a>
        </div>
        <p class="me-title opacity-75"></p>
        <hr />
        <div class="row">
            <form class="d-flex justify-content-between flex-wrap" style="">
                <div class="my-2">
                    <label for="food-name">Tên món ăn</label>
                    <input name="food-name" type="text" required />
                </div>
                <div class="my-2">
                    <label for="food-name">Miêu tả</label>
                    <input name="food-desc" type="text" required />
                </div>
                <div class="my-2">
                    <label for="food-name">Giá</label>
                    <input name="food-price" type="text" required />
                </div>
                <div class="my-2">
                    <label for="food-name">Tình trạng</label>
                    <input name="food-status" type="text" required />
                </div>
                <div class="my-2">
                    <label for="food-name">Số lượng</label>
                    <input name="food-quantity" type="text" required />
                </div>
                <div class="my-2">
                    <label for="food-name">Tùy chọn</label>
                    <input name="food-option" type="text" required />
                </div>
                <button style="outline: 0; border: 0; background: blue; color: white; border-radius: 8px;" type="button"
                    class="btn-add-menu-item" data-menu-id="{{menuId}}">Add item</button>
            </form>
            {{#each menu}}
            <div class="col-6 mt-3">
                <div class="row">
                    <div class="col-12 col-lg-12 pb-3">
                        <div class="card card-hover">
                            <div class="card-body">
                                <div class="menu-img-wrapper">
                                    <img src="/images/foods/food_2.png" alt="ảnh món ăn">
                                </div>
                                <a href="/seller/menu/{{MAMONAN}}" class="erase-underline">
                                    <p class="me-title text-lightblue">{{TENMON}}</p>
                                </a>
                                <p class="review-count">{{MIEUTA}}</p>
                                <p class="sm-title">
                                    <span class="rtab-money">Giá: {{toPrice GIA}}k VNĐ</span>
                                </p>
                                <p class="sm-title">
                                    <span class="text-black">Ghi chú: {{TENTUYCHON}}</span>
                                </p>
                                <p class="sm-title">
                                    <span class="text-black">Số lượng: {{TINHTRANG}}</span>
                                </p>
                                <div class="text-center">
                                    <a href="/seller/menu/{{MAMONAN}}"><button
                                            class="btn btn-outline-dark rtab-detail-button">Xem
                                            chi tiết</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>