<div class="bg-white">
  <div class="container pt-5">
    {{! Item Detail }}
    <div class="row pt-4">
      <div class="col-3" id="itdetail-mainimg">
        <a href="#">
          <img src="/images/abouts/about-1.png" class="img-fluid itdetail-food-img" alt="Cửa hàng" />
        </a>
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <p class="itdetail-lger-title">Tên quán: {{store.TENQUAN}}</p>
        <p class="itdetail-me-title text-indigo">Địa chỉ: {{store.DIACHI}}</p>
        <p class="review-count align-left">{{store.GIOMOCUA}} - {{store.GIODONGCUA}}</p>

        <div id="itdetail-mainimg">
          <br />
          <hr />
          <p class="itdetail-me-title text-green">Tình trạng cửa hàng&#160<span
              class="itdetail-lg-money">&nbsp;{{store.TINHTRANG}}</span></p>

          <div class="d-flex justify-content-center pt-4">
            <p class="text-center p-3 itdetail-me-title wrap-text">
              <span class="material-icons itdetail-achievement-icon">restaurant</span>
              <br />Ngon chuẩn 5 sao
            </p>
            <p class="text-center p-3 itdetail-me-title wrap-text">
              <span class="material-icons itdetail-achievement-icon">electric_car</span>
              <br />Giao hàng nhanh chóng
            </p>
            <p class="text-center p-3 itdetail-me-title wrap-text">
              <span class="material-icons itdetail-achievement-icon">local_police</span>
              <br />Bảo hành dạ dày 24h
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="itdetail-box">
          <i class="bi bi-credit-card-2-front-fill"><span class="lg-title">
              Thay đổi thông tin</span></i>

          <form class="form-group pt-2">
            <div class="row">
              <label for="rest-detail-name" class="form-label d-block col-3">Tên quán: </label>
              <input id="rest-detail-name" type="text" required>
            </div>
            <div class="row">
              <label for="rest-detail-address" class="form-label d-block col-3">Địa chỉ: </label>
              <input id="rest-detail-address" type="text" required>
            </div>
            <div class="row">
              <label for="rest-detail-open" class="form-label d-block col-3">Giờ mở cửa<a href=""></a>: </label>
              <input id="rest-detail-open" type="text" required>
            </div>
            <div class="row">
              <label for="rest-detail-close" class="form-label d-block col-3">Giờ đóng cửa<a href=""></a>: </label>
              <input id="rest-detail-close" type="text" required>
            </div>
            <div class="row">
              <label for="rest-detail-status" class="form-label d-block col-3">Tình trạng<a href=""></a>: </label>
              <input id="rest-detail-status" type="text" required>
            </div>
            <div class="row w-75 m-auto">
              <div class="col text-center">
                <button data-store-id="{{store.MACUAHANG}}" data-seller-id="{{store.MADOITAC}}" type="button"
                  class="btn-update-store mt-3">Cập
                  nhật</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
    <hr /><br /><br />
    {{! About Restaurant }}
    <p class="itdetail-lg-title text-center opacity-50">ABOUT US</p>
    <p class="itdetail-main-lg-title text-center">Về nhà hàng của chúng tôi</p>

    <div class="itdetail-about">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-7 pe-0 pb-4">
          <img src="/images/abouts/about-1.png" class="img-fluid itdetail-food-img" />
        </div>
        <div class="col-12 col-lg-6 col-xl-5 ps-5">
          <p class="itdetail-lg-title text-center"><b>ĐƯỢC THÀNH LẬP VÀ PHÂN
              PHỐI BỞI<br />SUNRISE COMPANY</b><br /><br /></p>
          <p class="itdetail-me-title wrap-text text-justify light-text">
            <i>Chuỗi nhà hàng Sunrise Foods được hình thành và phát triển hơn 69
              năm. Với uy tín và chất lượng thuộc top đầu thế giới với vô số đầu
              bếp sở hữu sao Michelin và muôn vẻ sáng tạo trong việc đưa những
              món ăn độc lạ hay đặc sản đến mọi miền đất nước trên thế giới.
              Chúng tôi luôn chú tâm vào những nhu cầu và cảm giác của khách
              hàng, đặt ra những tiêu chí hàng đầu để có thể làm hài lòng dù là
              những vị khách khó tính nhất.</i><br />
            <span class="align-right">- Dương Minh -</span>
          </p>
          <div class="d-flex justify-content-center pt-4">
            <span class="itdetail-achievement-icon text-center">
              <img src="/images/icons/star.png" class="itdetail-icon" alt="star" />
              <p class="p-3 itdetail-me-title">Ngon chuẩn 5 sao</p>
            </span>
            <span class="itdetail-achievement-icon text-center">
              <img src="/images/icons/certificate.png" class="itdetail-icon" alt="star" />
              <p class="p-3 itdetail-me-title">Chứng nhận quốc tế</p>
            </span>
            <span class="itdetail-achievement-icon text-center">
              <img src="/images/icons/achievement.png" class="itdetail-icon" alt="star" />
              <p class="p-3 itdetail-me-title">Top 1 thịnh hành</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const dropdown_qty_itdetail = $('#qty-itdetail');
    dropdown_qty_itdetail.change(function () {
      if ($('#qty-itdetail').find(":selected").val() == 'many') {
        $('#qty-itdetail').replaceWith('<input type="number" class="form-control small-img" id="qty-itdetail" min="0">');
      }
    });
  });

</script>